@using ArabTradersGroup.Models
@model AboutViewModel
@{
    ViewBag.Title = "About";
    ViewBag.About = "MYACTIVE";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- --------------------------------------------------- -->

<div class="col-md-offset-2 col-md-10 col-sm-offset-3 col-sm-9 col-xs-offset-3 col-xs-9 right-side">




    @using (Html.BeginForm("About", "Dashboard", FormMethod.Post, new { role = "form", id = "WhoweareForm" }))
    {


        @Html.AntiForgeryToken()
        <div class="row">

            <div class="contacts contact-first">
                @if (Model.About_Error != null || !String.IsNullOrEmpty(Model.About_Error))
                {
                    <div class="alert alert-info alert-dismissable"><button class="close" data-dismiss="alert"><i class="fa fa-close"></i></button>@Html.DisplayFor(m => m.About_Error)</div>
                }
                <div class="myForm col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">

                    @Html.ValidationSummary("",new {@class="text-danger" })

                    <div class="Form-Content">

                        <h3 class="text-center">@ArabTradersGroup.App_LocalResources.ATG.aboutwhoweare</h3>

                        <div class="form-content">

                            <div class="form-group">

                                @Html.TextAreaFor(m => m.About_Who, new { @class = "form-control" })






                            </div>
                        </div>



                    </div>
                    <!-- End Form-Content -->

                </div>
                <!-- End MyForm -->

            </div>
            <!-- End contacts -->

        </div>
        <!-- End Row 1 -->
        <!-- --------------------------------------------------- -->



        <div class="row">

            <div class="contacts contact-first">

                <div class="myForm col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">

                    <div class="Form-Content">

                        <h3 class="text-center">@ArabTradersGroup.App_LocalResources.ATG.abouthowwedo </h3>

                        <div class="form-content">
                            <div class="form-group">

                                @Html.TextAreaFor(m => m.About_How, new { @class = "form-control" })

                            </div>
                        </div>


                    </div>
                    <!-- End Form-Content -->

                </div>
                <!-- End MyForm -->

            </div>
            <!-- End contacts -->

        </div>
        <!-- End Row 1 -->
        <!-- --------------------------------------------------- -->


        <div class="row">



            <div class="contacts contact-first">

                <div class="myForm col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">

                    <div class="Form-Content">

                        <h3 class="text-center">@ArabTradersGroup.App_LocalResources.ATG.aboutaboutus </h3>

                        <div class="form-content">

                            <div class="form-group">

                                @Html.TextAreaFor(m => m.About_Us, new { @class = "form-control" })


                            </div>

                        </div>



                    </div>
                    <!-- End Form-Content -->

                </div>
                <!-- End MyForm -->

            </div>
            <!-- End contacts -->

        </div>
        <!-- End Row 1 -->
        <!-- --------------------------------------------------- -->
        <div class="mybutton text-center" id="new2">
            <input type="submit" value="@ArabTradersGroup.App_LocalResources.ATG.btnsaveproduct" class="btn btn-default">
            <button type="submit" class="btn btn-default">@ArabTradersGroup.App_LocalResources.ATG.btneditabout</button>
        </div>

    }


</div>
<!-- End right-side -->
<!-- --------------------------------------------------- -->
@section scripts{
    <link rel="stylesheet" href="@ArabTradersGroup.App_LocalResources.ATG.csscontact" />
    @Scripts.Render("~/bundles/jqueryval")


    }